/* Base Layout */
main {
  padding: 16px 32px;
}

/* List Grid Layout */
section ul {
  padding: 0;
  display: grid;
  grid-gap: 16px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Starship Card Styling */
li {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #333333;
  border: 1px solid rgb(160, 160, 160);
}

/* Search Form Layout */
form {
  display: flex;
  align-items: center;
}

form * {
  margin-right: 16px;
}

/* Input and Button Base Styles */
input, button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

/* Search Metadata Text */
.search-meta {
  color: rgba(255, 255, 255, 0.5)
}

/* Additional Enhancement Styles */
h1 {
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
}

button:hover {
  background-color: #555;
}

input {
  min-width: 250px;
}